<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter" ng-controller="playerCtrl">

    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">Movie Quote Soundboard</h1>
      </ion-header-bar>
      <ion-content>
        <div class="list card">
          <div class="item item-avatar">
            <h2> Office Space </h2>
            <img ng-src="http://images1.fanpop.com/images/quiz/21374_1214495863103_397_220.jpg"
          </div>
          <div class="item item-body">
            <button ng-click="osSound(0)">I would do nothing</button>
            <button ng-click="osSound(1)">I did nothing</button>
          </div>
        </div>
        <div class="list card">
          <div class="item item-avatar">
            <h2>Hot Rod</h2>
            <img ng-src="http://i.imgur.com/vhBT4ez.jpg"
          </div>
          <div class="item item-body">
            <button ng-click="hrSound(0)">Bathroom</button>
            <button ng-click="hrSound(1)">Cool Beans</button>
            <button ng-click="hrSound(2)">Quiet Place</button>
          </div>
        </div>
        <div class="list card">
          <div class="item item-avatar">
            <h2> Waterboy</h2>
            <img ng-src="http://images3.static-bluray.com/reviews/1650_1.jpg"
          </div>
          <div class="item item-body">
            <button ng-click="wbSound(0)">Cut his head off</button>
            <button ng-click="wbSound(1)">Gatorade</button>
            <button ng-click="wbSound(2)">You have no social skills</button>
          </div>
        </div>
      </ion-content>
    </ion-pane>
  </body>
</html>
